@use "variables" as *;





html {

    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 16px;
    line-height: 1.8;
}
p {
    color: $negro;
    font-size: 20px;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: calc($separacion / 2) 0;
    font-weight: 300;
    text-align: center;
    
}

h1 {
    font-size: 38px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 26px;
}