$fuente_principal: "Lato", sans-serif;


$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


$negro: #000000;
$amarillo: #E08709;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: #bd0707;

$separacion: 50px;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;


