@use "../base/index" as *;
@use "sass:color";




@include tablet {
    .contenedor-anuncios {
        @include grid(3, 20px);
    }
}

.anuncio {
    background-color: color.adjust($gris, $lightness: 5%);
    border: 1px solid color.adjust($gris, $lightness: -10%);
    margin-bottom: 20px;

    .contenido-anuncio {
        padding: 20px;
    }

    h3, p {
        margin: 0;
    }
 
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 30px;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 400px;

    li {
        flex: 1;
        display: flex;

        img {
            flex:  0 0 30px;
            margin-right: 10px;
        }
        p {
            font-weight: $black;
        }
    }
}
