@use "../base/index" as *;

.inicio {
  background-image: url("../../../img/header.jpg");
  background-position: center center;
  background-size: cover;
}




.header {
    background-color: $grisOscuro;
    padding: 10px 0 30px 0;

    &.inicio {
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 700px;
        }

        .contenido-header {
            @include tablet {
                min-height: 700px;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 600px;
    }
}
