
@use "../base/index" as *;

@include tablet {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }
}

.entrada-blog {
    margin-bottom: 20px;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.informacion-meta {
    span {
        color: $amarillo;
    }
}


.texto-entrada {
    a {
        color: $negro;
        margin-top: 20px;
        display: block;
        @include tablet {
            margin-top: 0;
        }
    }
    h4 {
        margin: 0;
        line-height: 1.4;
        &::after {
            content: '';
            display: block;
            width: 150px;
            height: .50px;
            background-color: $verde;
            margin-top: 10px;
        }
    }

}
