@use "../base/index" as *;


.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {

    img {
        width: 300px;
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {


    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear; 
    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 22px;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 20px;
            font-size: 18px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:hover {
            color: $verde;
        }
    }
}



.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 50px;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}
