@use "../base/index" as *;

.testimonial {
    background-color: $verde;
    font-size: 24px;
    padding: 20px;
    color: $blanco;
    border-radius: 20px;    

    blockquote {
        padding-left: 50px;
        position: relative;


        &::before {
            content: '';
           background-image: url("../img/comilla.svg");


            background-repeat: no-repeat;
            width: 60px;
            height: 80px;
            display: block;
            position: absolute;
            left: -20px;
        }
    }

    p {
        text-align: right;
        color: $blanco;
    }
}
