@use "../base/index" as *;
@use "../layout/index" as *;


.alerta {
    padding: .50px;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 10px 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 40px;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 20px;
        }
    }

    .imagen-tabla {
        width: 100px;
    }
}

.imagen-small {
    width: 200px;
}
